* {
    color: #cdd6f4;
}

window > overlay > frame > grid {
    background: #1e1e2e;
}

window > overlay > frame > grid > label{
    color: #bac2de;
}

window > overlay > frame > grid > combobox > box {
 
}

/*
window > overlay > box > box > button.hover > label {
    background: #FFFFFF;
}
*/
