[user]
	email = 60268027+sklknn@users.noreply.github.com
    name = Nikita Skulkin
[core]
    editor = nvim
[safe]
	directory = /home/sklknn/Storage/go-bubble
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
