/*@import url('../../.cache/wal/colors-waybar.css');*/
@define-color background #313244;
@define-color surface #45475a;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color sapphire #74c7ec;
@define-color teal #89dceb;
@define-color crust #11111b;
* {
    font-size:13.0px;
    font-family: "JetBrainsMono Nerd Font";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10 0 5 10;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
    background:@background;
    color: @subtext1;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:@subtext0;
}
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;
}
#clock{
    padding: 0px 5px;
    color:@text;
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@teal,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:@crust;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @sapphire;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: alpha(@crust,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: alpha(@crust,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @sapphire;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;

}
#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;

}
#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@text;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 0px 5px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 5px;
    color:alpha(@sapphire,.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(148,226,213,.8);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#cpu,#memory,#temperature,#custom-playerctl,#window,#clock,#pulseaudio-slider,#pulseaudio,#network,#custom-notification{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:@subtext1;

}
#custom-endpoint{
    color:@sapphire;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
/*    border: none; */
    border-radius: 10px;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 6px;
    min-width: 80px;
    border-radius: 5px;
    background: @crust;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @sapphire;
}
