/*a lot of css(im bad at this) is yoinked from JaKooLit dots, who credits https://github.com/CelestiaKai for this design, so i guess - thanks! Heavely modified by me anyway */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;		
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 100%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

window#waybar {
	color: #f38ba8;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent;
}

window#waybar.hidden {
    background-color: transparent;
}

tooltip {
	/*background: #1e1e2e; */
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
	color: #bac2de; /* mocha subtext1 */
}

#workspaces button {
	color: #6E6A86;
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 15px;

}

#workspaces button.active {
	color: #1e1e1e;
	border-radius: 30%;
	background-color: #eba0ac;
    padding: 0px;

}

#workspaces button.active:hover {
	color: #1e1e1e;
	border-radius: 30%;
	background-color: #eba0ac;
    padding: 0px;
}

#workspaces button.focused {
	color: #d8dee9;
    padding: 0px;
}

#workspaces button.urgent {
	border-radius: 30%;
	background-color: #eba0ac;
	color: #1e1e1e;
    padding: 0px;
}

#workspaces button:hover {
	color: #1e1e1e;
	background-color: #eba0ac;
    border-radius: 30%;
    padding: 0px;
}


#backlight-slider,
#bluetooth,
#cpu {
    color: #f5e0dc;
	border-radius: 0px 0px 15px 0px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
    margin-left: 0px;
}
#memory{
    color: #f2cdcd;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#window,
#network{
    color: #f5c2e7;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#custom-playerctl{
    color: #cba6f7;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
    /*background-color: #313244;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;*/
}

#language{
    color: #fab387;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#backlight{
    color: #f9e2af;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#pulseaudio{
    color: #a6e3a1;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#clock{
    color: #94e2d5;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}
#battery{
    color: #89dceb;
	border-radius: 0px 0px 15px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

#tray,
#wireplumber,
#workspaces{
	border-radius: 0px 0px 10px 10px;
	background-color: #1e1e2e;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 8px;
}


#custom-notify{
    color: #b4befe;
	border-radius: 0px 0px 0px 15px;
	background-color: #313244;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 8px;
	padding-left: 6px;
    margin-right: 0px;
}

@keyframes blink {
	to {
		color: #000000;
	}
}


